<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotcloud.project.bussiness.userDefinedView.mapper.QrtzFiredTriggersMapper" >
  <resultMap id="BaseResultMap" type="com.iotcloud.project.bussiness.userDefinedView.domain.QrtzFiredTriggers" >
    <id column="sched_name" property="schedName" jdbcType="VARCHAR" />
    <id column="entry_id" property="entryId" jdbcType="VARCHAR" />
    <result column="trigger_name" property="triggerName" jdbcType="VARCHAR" />
    <result column="trigger_group" property="triggerGroup" jdbcType="VARCHAR" />
    <result column="instance_name" property="instanceName" jdbcType="VARCHAR" />
    <result column="fired_time" property="firedTime" jdbcType="BIGINT" />
    <result column="sched_time" property="schedTime" jdbcType="BIGINT" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="job_group" property="jobGroup" jdbcType="VARCHAR" />
    <result column="is_nonconcurrent" property="isNonconcurrent" jdbcType="VARCHAR" />
    <result column="requests_recovery" property="requestsRecovery" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sched_name, entry_id, trigger_name, trigger_group, instance_name, fired_time, sched_time, 
    priority, state, job_name, job_group, is_nonconcurrent, requests_recovery
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.iotcloud.project.bussiness.userDefinedView.domain.QrtzFiredTriggersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from qrtz_fired_triggers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >= 0" >
      limit ${limitStart} , ${count}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from qrtz_fired_triggers
    where sched_name = #{schedName,jdbcType=VARCHAR}
      and entry_id = #{entryId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from qrtz_fired_triggers
    where sched_name = #{schedName,jdbcType=VARCHAR}
      and entry_id = #{entryId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.iotcloud.project.bussiness.userDefinedView.domain.QrtzFiredTriggersExample" >
    delete from qrtz_fired_triggers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iotcloud.project.bussiness.userDefinedView.domain.QrtzFiredTriggers" >
    insert into qrtz_fired_triggers (sched_name, entry_id, trigger_name, 
      trigger_group, instance_name, fired_time, 
      sched_time, priority, state, 
      job_name, job_group, is_nonconcurrent, 
      requests_recovery)
    values (#{schedName,jdbcType=VARCHAR}, #{entryId,jdbcType=VARCHAR}, #{triggerName,jdbcType=VARCHAR}, 
      #{triggerGroup,jdbcType=VARCHAR}, #{instanceName,jdbcType=VARCHAR}, #{firedTime,jdbcType=BIGINT}, 
      #{schedTime,jdbcType=BIGINT}, #{priority,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, 
      #{jobName,jdbcType=VARCHAR}, #{jobGroup,jdbcType=VARCHAR}, #{isNonconcurrent,jdbcType=VARCHAR}, 
      #{requestsRecovery,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iotcloud.project.bussiness.userDefinedView.domain.QrtzFiredTriggers" >
    insert into qrtz_fired_triggers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schedName != null" >
        sched_name,
      </if>
      <if test="entryId != null" >
        entry_id,
      </if>
      <if test="triggerName != null" >
        trigger_name,
      </if>
      <if test="triggerGroup != null" >
        trigger_group,
      </if>
      <if test="instanceName != null" >
        instance_name,
      </if>
      <if test="firedTime != null" >
        fired_time,
      </if>
      <if test="schedTime != null" >
        sched_time,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="jobGroup != null" >
        job_group,
      </if>
      <if test="isNonconcurrent != null" >
        is_nonconcurrent,
      </if>
      <if test="requestsRecovery != null" >
        requests_recovery,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schedName != null" >
        #{schedName,jdbcType=VARCHAR},
      </if>
      <if test="entryId != null" >
        #{entryId,jdbcType=VARCHAR},
      </if>
      <if test="triggerName != null" >
        #{triggerName,jdbcType=VARCHAR},
      </if>
      <if test="triggerGroup != null" >
        #{triggerGroup,jdbcType=VARCHAR},
      </if>
      <if test="instanceName != null" >
        #{instanceName,jdbcType=VARCHAR},
      </if>
      <if test="firedTime != null" >
        #{firedTime,jdbcType=BIGINT},
      </if>
      <if test="schedTime != null" >
        #{schedTime,jdbcType=BIGINT},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null" >
        #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="isNonconcurrent != null" >
        #{isNonconcurrent,jdbcType=VARCHAR},
      </if>
      <if test="requestsRecovery != null" >
        #{requestsRecovery,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iotcloud.project.bussiness.userDefinedView.domain.QrtzFiredTriggersExample" resultType="java.lang.Integer" >
    select count(*) from qrtz_fired_triggers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update qrtz_fired_triggers
    <set >
      <if test="record.schedName != null" >
        sched_name = #{record.schedName,jdbcType=VARCHAR},
      </if>
      <if test="record.entryId != null" >
        entry_id = #{record.entryId,jdbcType=VARCHAR},
      </if>
      <if test="record.triggerName != null" >
        trigger_name = #{record.triggerName,jdbcType=VARCHAR},
      </if>
      <if test="record.triggerGroup != null" >
        trigger_group = #{record.triggerGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.instanceName != null" >
        instance_name = #{record.instanceName,jdbcType=VARCHAR},
      </if>
      <if test="record.firedTime != null" >
        fired_time = #{record.firedTime,jdbcType=BIGINT},
      </if>
      <if test="record.schedTime != null" >
        sched_time = #{record.schedTime,jdbcType=BIGINT},
      </if>
      <if test="record.priority != null" >
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.jobName != null" >
        job_name = #{record.jobName,jdbcType=VARCHAR},
      </if>
      <if test="record.jobGroup != null" >
        job_group = #{record.jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.isNonconcurrent != null" >
        is_nonconcurrent = #{record.isNonconcurrent,jdbcType=VARCHAR},
      </if>
      <if test="record.requestsRecovery != null" >
        requests_recovery = #{record.requestsRecovery,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update qrtz_fired_triggers
    set sched_name = #{record.schedName,jdbcType=VARCHAR},
      entry_id = #{record.entryId,jdbcType=VARCHAR},
      trigger_name = #{record.triggerName,jdbcType=VARCHAR},
      trigger_group = #{record.triggerGroup,jdbcType=VARCHAR},
      instance_name = #{record.instanceName,jdbcType=VARCHAR},
      fired_time = #{record.firedTime,jdbcType=BIGINT},
      sched_time = #{record.schedTime,jdbcType=BIGINT},
      priority = #{record.priority,jdbcType=INTEGER},
      state = #{record.state,jdbcType=VARCHAR},
      job_name = #{record.jobName,jdbcType=VARCHAR},
      job_group = #{record.jobGroup,jdbcType=VARCHAR},
      is_nonconcurrent = #{record.isNonconcurrent,jdbcType=VARCHAR},
      requests_recovery = #{record.requestsRecovery,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iotcloud.project.bussiness.userDefinedView.domain.QrtzFiredTriggers" >
    update qrtz_fired_triggers
    <set >
      <if test="triggerName != null" >
        trigger_name = #{triggerName,jdbcType=VARCHAR},
      </if>
      <if test="triggerGroup != null" >
        trigger_group = #{triggerGroup,jdbcType=VARCHAR},
      </if>
      <if test="instanceName != null" >
        instance_name = #{instanceName,jdbcType=VARCHAR},
      </if>
      <if test="firedTime != null" >
        fired_time = #{firedTime,jdbcType=BIGINT},
      </if>
      <if test="schedTime != null" >
        sched_time = #{schedTime,jdbcType=BIGINT},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null" >
        job_group = #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="isNonconcurrent != null" >
        is_nonconcurrent = #{isNonconcurrent,jdbcType=VARCHAR},
      </if>
      <if test="requestsRecovery != null" >
        requests_recovery = #{requestsRecovery,jdbcType=VARCHAR},
      </if>
    </set>
    where sched_name = #{schedName,jdbcType=VARCHAR}
      and entry_id = #{entryId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iotcloud.project.bussiness.userDefinedView.domain.QrtzFiredTriggers" >
    update qrtz_fired_triggers
    set trigger_name = #{triggerName,jdbcType=VARCHAR},
      trigger_group = #{triggerGroup,jdbcType=VARCHAR},
      instance_name = #{instanceName,jdbcType=VARCHAR},
      fired_time = #{firedTime,jdbcType=BIGINT},
      sched_time = #{schedTime,jdbcType=BIGINT},
      priority = #{priority,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      job_name = #{jobName,jdbcType=VARCHAR},
      job_group = #{jobGroup,jdbcType=VARCHAR},
      is_nonconcurrent = #{isNonconcurrent,jdbcType=VARCHAR},
      requests_recovery = #{requestsRecovery,jdbcType=VARCHAR}
    where sched_name = #{schedName,jdbcType=VARCHAR}
      and entry_id = #{entryId,jdbcType=VARCHAR}
  </update>
</mapper>